.bg-primary-gradient {
  background: linear-gradient(259.91deg, #00006F -25.41%, #601D90 86.41%) !important;
  color: #fff;
}

.img-module {
  max-width: 690px;
  max-height: 345px;
  width: 100%;
  min-height: 100px;
  max-height: 228px;
  background: #F3F3F3;
  margin: 20px auto;
}

.img-pre {
  position: absolute;
  left: -97px;
  z-index: -1;
}

.img-cover {
  background: linear-gradient(241.32deg, rgba(96, 29, 144, 0.13) 36.14%, rgba(96, 29, 144, 0.13) 36.14%, rgba(0, 0, 111, 0.49) 76.54%);
}
.img-cover img {
  object-fit: cover;
  opacity: 0.61;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

@media (max-width: 767px) {
  main .info {
    height: auto !important;
    margin-right: 0;
    margin-left: 0;
  }
  main .info .col-md-4 {
    padding: 2.5rem 0;
  }
}

.text-lg {
  font-size: 19px;
}
@media (max-width: 767px) {
  .text-lg {
    font-size: 13px;
  }
}

.text-lead {
  font-size: 16px;
}
@media (max-width: 767px) {
  .text-lead {
    font-size: 13px;
  }
}

section {
  margin: 5rem 0;
}
section h4 {
  display: inline-block;
  padding-left: 15px;
  position: relative;
  letter-spacing: 4px;
}
@media (max-width: 767px) {
  section h4 {
    font-size: 1rem;
  }
}
section h4::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background: #601D90;
  position: absolute;
  left: 0;
  top: 50%;
}
section h4::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: #AA75D0;
  position: absolute;
  right: -62px;
  top: 50%;
}
section.about {
  background: #fff;
}
section.how-get h4::after, section.how-get h4::before {
  background: #fff;
}
@media (max-width: 575px) {
  section.how-get {
    margin-left: -25px;
    margin-right: -25px;
  }
}
section.contact span {
  position: relative;
}
section.contact span::after {
  content: "";
  display: block;
  width: 33px;
  height: 2px;
  background: #AA75D0;
  position: relative;
  margin: auto;
}
section.social .item {
  border-radius: 50%;
  width: 95px;
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 9px 24px rgba(57, 26, 16, 0.13);
}
@media (max-width: 767px) {
  section.social .item {
    width: 56px;
    height: 56px;
  }
  section.social .item img {
    width: 28px;
  }
}
section.social::after {
  content: "";
  display: block;
  width: 100vw;
  height: 3px;
  background: #AA75D0;
  position: absolute;
  left: 0;
  bottom: 105px;
  z-index: -1;
}
@media (max-width: 767px) {
  section.social::after {
    bottom: 89px;
  }
}
section.services .card, section.services .card-join {
  /* width: 265px;
  height: 265px; */
  border-radius: 0;
}
@media (max-width: 767px) {
  section.services .card, section.services .card-join {
    width: 100%;
    height: auto;
  }
  section.services .card .row .col-8, section.services .card-join .row .col-8 {
    order: 2;
  }
  section.services .card .row .col-4, section.services .card-join .row .col-4 {
    order: 1;
  }
  section.services .card .card-title, section.services .card-join .card-title {
    font-size: 15px;
  }
  section.services .card .card-text, section.services .card-join .card-text {
    font-size: 13px;
  }
  section.services .row {
    margin-bottom: 0 !important;
  }
  section.services .row .col-12 {
    margin-bottom: 1rem;
  }
}
section.benefit .modules {
  max-width: 900px;
  padding-bottom: 5px;
  margin: auto;
  background: #FCFBFF;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.03);
}
@media (max-width: 767px) {
  section.benefit li:not(.nav-item) {
    margin-bottom: 1rem !important;
  }
  section.benefit li:not(.nav-item) h5 {
    font-size: 13px;
  }
}
@media (max-width: 767px) {
  section.benefit .responsive {
    justify-content: start !important;
  }
  section.benefit .responsive + .col-12 {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  section h2.h1 {
    font-size: 1.5rem;
  }
  section h2.pr-lg-5 {
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  section {
    margin: 1.5rem 0;
  }
}

.arrow-right {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: no-repeat 50%/100% 100%;
  background-image: url("/src/img/icons/arrow-right.svg");
}

.carousel-arrow-right {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background: no-repeat 50%/100% 100%;
  background-image: url("/src/img/icons/carousel-arrow-right.svg");
}

.carousel-arrow-left {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background: no-repeat 50%/100% 100%;
  background-image: url("/src/img/icons/carousel-arrow-left.svg");
}

.member {
  text-align: center;
}
.member .thumb {
  display: block;
  margin: auto;
  max-width: 100%;
  border-radius: 50%;
  margin-bottom: 20px;
}

/*# sourceMappingURL=custom.css.map */
