.bg-primary-gradient {
  background: linear-gradient(259.91deg, #00006F -25.41%, #601D90 86.41%) !important;
  color: #fff;
}

.img-module {
  max-width: 690px;
  max-height: 345px;
  width: 100%;
  min-height: 100px;
  max-height: 228px;
  background: #F3F3F3;
  margin: 20px auto;
}

.img-pre{
  position: absolute;
  left: -97px;
  z-index: -1;
}

.img-cover{
  background:  linear-gradient(241.32deg, rgba(96, 29, 144, 0.13) 36.14%, rgba(96, 29, 144, 0.13) 36.14%, rgba(0, 0, 111, 0.49) 76.54%);
  img{
    object-fit: cover;
    opacity: 0.61;
  }
}

.carousel-indicators {
  li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
}

main .info {
  @media (max-width: 767px) {
    height: auto !important;
    margin-right: 0;
    margin-left: 0;
    .col-md-4 {
      padding: 2.5rem 0;
    }
  }
}

.text-lg {
  font-size: 19px;
  @media (max-width: 767px) {
    font-size: 13px;
  }
}

.text-lead {
  font-size: 16px;
  @media (max-width: 767px) {
    font-size: 13px;
  }
}

section {
  margin: 5rem 0;
  h4 {
    display: inline-block;
    padding-left: 15px;
    position: relative;
    letter-spacing: 4px;

    @media (max-width: 767px) {
      font-size: 1rem;
    }
  }

  h4::before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: #601D90;
    position: absolute;
    left: 0;
    top: 50%;
  }

  h4::after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background: #AA75D0;
    position: absolute;
    right: -62px;
    top: 50%;
  }

  &.about{
    background: #fff;
  }

  &.how-get {
    h4::after, h4::before {
      background: #fff;
    }
    @media (max-width: 575px) {
      margin-left: -25px;
      margin-right: -25px;
    }
  }

  &.contact {
    span {
      position: relative;
    }

    span::after {
      content: "";
      display: block;
      width: 33px;
      height: 2px;
      background: #AA75D0;
      position: relative;
      margin: auto;
    }
  }

  &.social {
    .item {
      border-radius: 50%;
      width: 95px;
      height: 95px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 9px 24px rgba(57, 26, 16, 0.13);
      @media (max-width: 767px) {
        width: 56px;
        height: 56px;
        img {
          width: 28px;
        }
      }
    }
  }

  &.social::after {
    content: "";
    display: block;
    width: 100vw;
    height: 3px;
    background: #AA75D0;
    position: absolute;
    left: 0;
    bottom: 105px;
    z-index: -1;
    @media (max-width: 767px) {
      bottom: 89px;
    }
  }

  &.services {
    .card, .card-join {
      /* width: 265px;
      height: 265px; */
      border-radius: 0;
    }

    @media (max-width: 767px) {
      .card, .card-join {
        width: 100%;
        height: auto;
        .row {
          .col-8 {
            order: 2
          }
          .col-4 {
            order: 1;
          }
        }
        .card-title {
          font-size: 15px;
        }
        .card-text {
          font-size: 13px;
        }
      }
      .row {
        margin-bottom: 0 !important;
        .col-12 {
          margin-bottom: 1rem;
        }
      }

    }
  }

  &.benefit {
    .modules{
      max-width: 900px;
      padding-bottom: 5px;
      margin: auto;
      background: #FCFBFF;
      box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.03);
    }
    li:not(.nav-item) {
      @media (max-width: 767px) {
        margin-bottom: 1rem !important;
        h5 {
          font-size: 13px;
        }
      }
    }
    .responsive {
      @media (max-width: 767px) {
        justify-content: start !important;

        & + .col-12 {
          margin-bottom: 2rem;
        }
      }
    }
  }

  h2 {
    @media (max-width: 767px) {
      &.h1 {
        font-size: 1.5rem;
      }

      &.pr-lg-5 {
        margin-bottom: 1rem;
      }
    }
  }

  @media (max-width: 767px) {
    margin: 1.5rem 0;
  }
}

.arrow-right{
  display: inline-block;
  width: 14px;
  height: 14px;
  background: no-repeat 50%/100% 100%;
  background-image: url("/src/img/icons/arrow-right.svg");
}

.carousel-arrow-right{
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background: no-repeat 50%/100% 100%;
  background-image: url("/src/img/icons/carousel-arrow-right.svg");
}
.carousel-arrow-left{
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background: no-repeat 50%/100% 100%;
  background-image: url("/src/img/icons/carousel-arrow-left.svg");
}
.member{
  text-align: center;
  .thumb{
    display: block;
    margin: auto;
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 20px;
  }
}
